/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500&display=swap');

/*===== VARIABLES CSS =====*/

$header-height: 100px;

/*========== Colors ==========*/
$first-color: #4FB2E5;
$second-color: rgba(79, 178, 229, 0.2);
$title-color: #2F6E89;
$text-color: #4B4B4B;
$text-color-light: #FFFFFF;

/*========== Font and typography ==========*/
$body-font: 'Lato', sans-serif;
$biggest-font-size: 56px;
$h2-font-size: 32px;
$h3-font-size: 17px;
$normal-font-size: 16px;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;
$font-regular: 400;
$z-fixed: 100;
/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  color: $text-color;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: $font-black;
  font-size: $biggest-font-size;
  color: $title-color;
  line-height: 73px;
}

h2 {
  font-weight: $font-bold;
  font-size: $h2-font-size;
  color: $title-color;
  line-height: 44px;
  text-align: center;
}

h3 {
  font-weight: $font-regular;
  font-size: $h3-font-size;
  color: $title-color;
  line-height: 20px;
  letter-spacing: 1px;
}

p {
  font-weight: 300;
  font-size: $normal-font-size;
  line-height: 28px;
  color: $text-color;
}

h1, h2, h3, ul, p {
  margin: 0;
}

//###################################### HEADER ################################
.main-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: $second-color;
  padding: 30px 0;
}
.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);

}

//###################################### NAV ####################################

nav.main-nav {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__menu-list {
    display: inline-flex;
    align-items: center;
    li.nav__item.reservation a{
      color: white;
      line-height: 17px;
      text-transform: uppercase;
    }
    .nav__item {


      margin-left: 25px;

      & a{
        transition: all .5s ease;
        text-transform: uppercase;
        color: $text-color;
        font-size: calc(13px + .2vw);
        font-weight: 500;

      }
      & a:hover{
        color: $first-color;
        font-weight: bolder;
      }
      &.reservation{

        display: block;
        letter-spacing: 0.5px;
        border-radius: 5px;
        padding: 10px 9px;
        border: 1px solid white;
        margin-left: calc( 50px + 10vw);
        background-color: $first-color;
      }

    }

  }
}
ion-icon{
  color: $text-color;
  font-size: 30px;
  cursor: pointer;
  --ionicon-stroke-width: 60px;
  display: none;
}
.menu-close{
  position: absolute;
  top: 20px;
  right: 30px;
}
@media screen and (max-width: 1024px){
  nav.main-nav .nav__menu-list .nav__item{
    margin-left: 10px;
  }

  nav.main-nav .nav__menu-list .nav__item.reservation{
    margin-left: calc(24px + 5vw);
  }
}
@media screen and (max-width: 868px) {
  .main-header{
    padding: 10px 0;
  }
  ion-icon{
    display: block;

  }
  .hide{
    display: none;
  }

  nav.main-nav{
    .nav__menu-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      background-color: $first-color;
      padding: 60px 0;
      text-align: center;
      display: block;
      transition: all .5s ease;
      .nav__item{
        margin-top: 45px;
        font-size: 23px;
      }
      .reservation{
      margin: 30px 25px;
      }
    }
    .nav__menu-show{
      left: 0;
    }
  }

}