/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500&display=swap');

/*===== VARIABLES CSS =====*/


$header-height: 100px;

$base-font-size: 40px;
/*========== Colors ==========*/
$first-color: #4FB2E5;
$second-color: rgba(79, 178, 229, 0.2);
$title-color: #2F6E89;
$text-color: #4B4B4B;
$text-color-light: #FFFFFF;

/*========== Font and typography ==========*/
$body-font: 'Lato', sans-serif;
$biggest-font-size: 56px;
$h2-font-size: 32px;
$h3-font-size: 17px;
$normal-font-size: 16px;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;
$font-regular: 400;
$z-fixed: 100;
/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition: 3s;
}


body {
  margin: 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  color: $text-color;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: $font-black;
  font-size: $biggest-font-size;
  color: $title-color;
  line-height: 73px;
}

h2 {
  font-weight: $font-bold;
  font-size: $h2-font-size;
  color: $title-color;
  text-align: center;
}

h3 {
  font-weight: $font-regular;
  font-size: $h3-font-size;
  color: $title-color;
  line-height: 20px;
  letter-spacing: 1px;
}

p {
  font-weight: 300;
  font-size: $normal-font-size;
  line-height: 28px;
  color: $text-color;
}

h1, h2, h3, ul, p {
  margin: 0;
}

//###################################### HEADER ################################
.main-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 30px 0;
  transition: 1s;
}

.sticky {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

}

//###################################### NAV ####################################

nav.main-nav {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav__logo img{
    width: 400px;
  }

  .nav__menu-list {
    display: inline-flex;
    align-items: center;

    li.nav__item.reservation a {
      color: white;
      line-height: 17px;
      text-transform: uppercase;
    }

    .nav__item {


      margin-left: 25px;

      & a {
        transition: all .5s ease;
        text-transform: uppercase;
        color: $text-color;
        font-size: calc(13px + .2vw);
        font-weight: 500;

      }

      & a:hover {
        color: $first-color;
        font-weight: bolder;
      }

      &.reservation {

        display: block;
        letter-spacing: 0.5px;
        border-radius: 5px;
        padding: 10px 9px;
        border: 1px solid white;
        margin-left: calc(20px + 8vw);
        background-color: $first-color;
      }

    }

  }
}

ion-icon {
  color: $text-color;
  font-size: 30px;
  cursor: pointer;
  --ionicon-stroke-width: 60px;
  display: none;
}

.menu-close {
  position: absolute;
  top: 20px;
  right: 30px;
}


//######################################## MAIN #############################################
//###### ############################REUSABLE #########################################
.section__description {
  font-weight: bolder;
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.06vw;
  color: $title-color;


}

//###### ############################ #########################################
main {
  min-height: 2000px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {

}

.section-two-column {
  padding-top: 180px;
  background-color: $second-color;
  padding-left: 3rem;
  padding-right: 1rem;

  display: flex;
  justify-content: space-between;

  .section-two-column-text {
    max-width: 33vw;
    padding-top: 8%;

    .section-two-column-title {
      max-width: 80%;
      margin-top: 1.7vw;
      font-style: normal;
      font-weight: 900;
      font-size: 3.8vw;
      line-height: 5vw;
    }

    .section-two-column-paragraph {
      font-style: normal;
      font-weight: 300;
      line-height: 1.92vw;
      color: $text-color;
      padding: 3vw 0;


    }
  }

  .section-two-column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}

//####################### services__section ##################
.services__section {
  padding: 10vw 3rem 1rem;

  .section__description {
    text-align: center;

  }

  .section-bold-text {
    margin-top: .5vw;
    margin-bottom: 3vw;
    font-weight: 400;
  }

  .tiles-wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    gap: 2rem;

    .tile {
      border: 2px solid #4FB2E5;
      box-shadow: 10px 10px 0 #4FB2E5;
      border-radius: 24px;
      text-align: center;
      color: #4B4B4B;
      &-title{
        color: #2F6E89;

      }

      &:nth-last-child(1) {
        margin: 0 auto;
        width: 100%;
        margin-left: 50%;
        transform: translateX(55%);
      }

      .tile-icon {
        margin: 5% auto;
        background: #4FB2E5;
        border-radius: 50%;
        width: 100px;
        padding: 20px;

        img {
          width: 50px;
        }
      }

      .tile-title {
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 2vw;
      }

      .tile-description {
        padding: 5%;
      }

    }
  }
}

.about-us__section {
  column-gap: 125px;
  justify-content: center;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 100px;

  .section-two-column-text {
    .about-us__heading {
      text-align: left;
      margin: 4% 0;
    }

    .about-us__paragraph {
      padding: 0;
    }
  }


  .section-two-column-text {
    .features-list {
      text-align: center;
      li.feature {
        text-align: left;
        display: flex;
        align-items: center;
        margin-top: 15px;
        font-weight: bold;
        font-size: calc(18px + .1vw);
        color: $title-color;
      }

      .li-sign {
        width: 18px;
        margin-right: 5px;
      }

    }
  }
}
p.feature{
  text-align: left;
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: calc(18px + .1vw);
  color: $title-color;
}
.personnel__section{
  margin-top: 8%;
  .person-wrapper{
    margin: 50px auto;
   width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .person{

      .person-name{
        font-size: 1.8vw;

      }
      .person-position{
        margin-top: 10px;
        text-align: center;;
      }
    }
  }
}
.phone-button {

  border-radius: 10px;
  border: 2px solid $title-color;
  margin-top: 5%;

  .phone-wrapper{display:flex ;
    text-align: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 30px;
  a{
    font-size: calc(18px + .1vw);
    font-weight: bold;
    color:#2F6E89;
  }
    

  }
}
 .email{
   font-weight: $font-bold;
   font-size: 1.8vw;
   color: $title-color;
   display: flex;
   column-gap: 10px;
   width: fit-content;
  margin: 30px auto;
   ion-icon.phone{
     font-size: 25px;
     color: $title-color;
   }
}
ion-icon.phone{
  display: block;
  font-size: 20px;
}
footer.footer{
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
  .footer__column{
    text-align: center;
  }
  .footer__column-name{
    font-weight: bold;
    font-size: calc(18px + .1vw);
    color: $title-color;
  }
  .footer__menu-contact{
    margin-top: 2rem;
    .phone-wrapper{
      display: flex;
      margin-top: 8px;
      gap:5px;
    }
  }

}
@media screen and (max-width: 1024px) {
  nav.main-nav {
    max-width: 98%;

    .nav__menu-list {
      .nav__item {
        margin-left: 10px;
      }

      .nav__item.reservation {
        margin-left: 20px;
      }
    }
  }

  .services__section {
    .tiles-wrapper {
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));

      .tile {
        &:nth-last-child(1) {
          margin-left: 0;
          transform: translateX(0);
        }
      }
    }
  }
  .about-us__section {
    column-gap: 8%;
    .section-two-column-text{
      .features-list li.feature{
        font-size: 18px;
      }
    }

  }

}

@media screen and (max-width: 768px) {


  .main-header {
    padding: 10px 0;
  }
  ion-icon {
    display: block;

  }
  .hide {
    display: none;
  }

  nav.main-nav {
    max-width: 90%;
    margin: 0 8px;
    .nav__logo img{
      width: 300px;
    }

    .nav__menu-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      background-color: $first-color;
      padding: 60px 0;
      text-align: center;
      display: block;
      transition: all .5s ease;

      .nav__item {
        margin-top: 45px;
        font-size: 23px;
      }

      .reservation {
        margin: 30px 25px;
      }
    }

    .nav__menu-show {
      left: 0;
    }
  }
  .section__description {
    font-size: 18px;

  }
  .section-two-column {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 100px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .section-two-column-text {
      max-width: 100%;
      padding-top: 4%;
      text-align: center;

      .section-two-column-title {
        max-width: 100%;
        margin: 25px 0;
        font-size: 27px;
        line-height: 1.2;
      }

      .section-two-column-paragraph {
        font-size: 18px;
        line-height: 1.3;
        margin: 40px 0;
      }
    }

    .section-two-column-img {
      width: 100%;
    }
  }
  .services__section {
    .tiles-wrapper {
      padding: 0 1rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .tile .tile-title {
        font-size: 20px;
        margin: 20px 0;
      }

    }
  }
  .about-us__section {
    padding-top: 30px;
    flex-direction: column;

    .section-two-column-text {
      .about-us__heading {
        text-align: center;
      }
      .features-list{
        width: fit-content;
        padding-left: 20px;
        margin: 40px 0;
        li.feature {
          font-size: 18px;
          display: block;
          text-align: left;
        }
      }
       
    }
  }
  .personnel__section .person-wrapper{
    width: 85%;
    .person{
      .person-name{
        font-size: 3.5vw;
      }}
  }
  footer.footer{
    padding: 1rem 2rem;
    flex-direction: column;
    .footer__column{
      margin-top: 40px;

      .phone-wrapper{
        justify-content: center;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section-bold-text {
    font-size: 22px;
  }
  .services__section {
    padding: 90px 10px 10px;

    .tiles-wrapper {
      padding: 0 15px 15px;

      .tile .tile-title {
        font-size: 18px;
      }
    }
  }
  .section__description {
    font-size: $normal-font-size;

  }

  .section-two-column .section-two-column-text .section-two-column-title {
    font-size: 22px;
  }
  .section-two-column .section-two-column-text .section-two-column-text {
    font-size: $normal-font-size;
    .section-two-column-paragraph{
      font-size: $normal-font-size;
    }
  }
  .services__section .tiles-wrapper .tile .tile-description {
    padding: 0;
  }
  .about-us__section .section-two-column-text .features-list li.feature{
    text-align: center;
  }
  .personnel__section {

    .person-wrapper{
      flex-direction: column;
      row-gap: 40px;
      .person{
        .person-name{
          font-size: 25px;
        }
      }
    }

  }

}
